# API
NATS_URL=nats://nats.example.com:4222
NATS_SYS_NKEY=Sxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPERATOR_NKEY=SOxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
ADMIN_ID=admin
ADMIN_PASSWORD=securepassword
ALLOWED_ORIGINS=https://console.example.com

# WEB
WEB_BASE_PATH=/
